/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap");

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Global Settings */

:root {
  --mono-font-family: "Roboto Mono", monospace;
  --bg-color: hsl(216, 100%, 29%);
  --bg-color-lighter: hsl(216, 100%, 39%);
  --text-color-main: hsl(0, 100%, 100%, 0.87);
  --accent-color: hsl(338, 86%, 84%);
  --accent-hover: hsl(338, 86%, 74%);
}

html,
body {
  font-family: var(--mono-font-family);
  background-color: var(--bg-color);
  color: var(--text-color-main);
  text-align: center;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/* Layout */

#root {
  isolation: isolate;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 480px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
  padding: 2em;
}

/* Header */

.headshot {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
  z-index: 1;
  box-shadow: var(--text-color-main) 0px 0px 2px 0px;
}

.logo {
  width: 95%;
  max-width: 320px;
  /* margin-bottom: 1em; */
}

.socials-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em 1.75em;
}

.social-svg {
  width: 2rem;
  filter: invert(90%) sepia(4%) saturate(5647%) hue-rotate(289deg)
    brightness(97%) contrast(101%);
}
.social-svg:hover,
.social-svg:focus {
  filter: invert(72%) sepia(88%) saturate(2331%) hue-rotate(297deg)
    brightness(100%) contrast(95%);
}

.link-writeup {
  /* margin-top: 1em; */
  text-align: left;
  padding: 0 2em;
}

.fundraiser {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: left;
  padding: 0 2em;
}

/* Links List */

main,
section {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 2em; */
  width: 100%;
  margin: 1em 0 4em;
}

button {
  align-self: center;
  background: none;
  width: 95%;
  max-width: 480px;
  padding: 1em 0.5em;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  color: var(--text-color-main);
  font-weight: 500;
  cursor: pointer;
  margin: 1em 0;
}

button:hover,
button:active {
  background: var(--bg-color-lighter);
}

.embedded-iframe-container {
  padding: 1em 0;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 2em 1em;
}

footer p {
  font-size: 0.75em;
}
